.canvas {
    background-blend-mode: color;
    width: 100%;
    height: 100%;
    background: #121212;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

.about{
    background-color:#121212;
}
.spotify-btn{
  
}