
h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: lavender;
    padding-top: 3px;
    padding-right: 3px;
    text-align: right;
}
.intro{
    color:rebeccapurple;
    text-align: center;
}
.headerbuttons{
    text-align: right;
}
.resume {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
h4 {
    color: rebeccapurple;
    margin:0;
    padding:0;
}
h6 {
    margin:0;
    padding:0;
}
ul {
    color: black;
}
body {
    margin:0;
    padding:0;
    background-color: white
}