
h2 {
    color: brown;
    padding-top: 3px;
    padding-right: 3px;
    text-align: right;
}
.intro{
    color: blue;
    text-align: center;
}
.headerbuttons{
    text-align: right;
}
h3 {
    color: g
}
ul {
    color: black;
}
body {
    background-color: white
}